.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.table-go-right img{
    display: none;
}
.table-go-left img{
    display: none;
}

.plans-container--slider{
    justify-content: center;
}
